<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if match.new_record? %>
    <div class="field">
      <%= f.label :team1 %>
      <%= f.select :team1, Match::CRICKET_TEAMS %>
    </div>
    <div class="field">
      <%= f.label :team2 %>
      <%= f.select :team2, Match::CRICKET_TEAMS %>
    </div>
    <div class="field">
      <%= f.label "First batting team" %>
      <%= f.select :first_batting_team, Match::CRICKET_TEAMS %>
    </div>
  <% else %>
    <div class="field green-color">
      <b>
        <%= match.current_match_status %>
      </b>
    </div>
    <div class="field">
      <%= f.label "Current Status (Run/Out)"%> <%= f.select :current_status, Match::CURRENT_STATUSES %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit match.new_record? ? "Add match" : "Update match record", disabled: match.completed? %>
  </div>
<% end %>
