<tr>
  <td><%= match.team1 %> vs <%= match.team2 %></td>
  <td> <%= match.team1_status %></td>
  <td> <%= match.team2_status %></td>
  <% if !match.completed? %>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
  <% end %>
  <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
