<p id="notice"><%= notice %></p>

<p>
  <strong>Team1:</strong>
  <%= @match.team1 %>
</p>

<p>
  <strong>Team2:</strong>
  <%= @match.team2 %>
</p>

<p>
  <strong>Total run for team1:</strong>
  <%= @match.total_run_for_team1 %>
</p>

<p>
  <strong>Out count for team1:</strong>
  <%= @match.out_count_for_team1 %>
</p>

<p>
  <strong>Total run for team2:</strong>
  <%= @match.total_run_for_team2 %>
</p>

<p>
  <strong>Out count for team2:</strong>
  <%= @match.out_count_for_team2 %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
