<!DOCTYPE html>
<html>
  <head>
    <title>ESPNcricinfo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="logo">
      <%= link_to root_path, class: "logo" do %>
        ESPNcricinfo Admin
      <% end %>
    </h1>
    <hr />
    <%= yield %>
  </body>
</html>
